[Desktop Entry]
Encoding=UTF-8
Name=TempleDriver
Comment=Terry's 1st Temple
StartupNotify=false
Exec=templedriver
Icon=templedriver
Terminal=false
Type=Application
Categories=Game;ArcadeGame;KidsGame;Graphics
